# Docker
docker-compose.override.yml
.dockerignore
mssql_data

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# MacOS
.DS_Store

# Logs
logs/
*.log

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
Thumbs.db
